[{:name "Martial Mystic"
  :description "Magic flows through your muscles. Channeling it is second nature."
  :deck [:or
         [:and [:the-hermit] [:the-ace-of-swords]]
         [:and [:strength] [:the-ace-of-cups]]]
  :effect {:attributes {:body 1 :spirit 1}
           :abilities
           [{:name "Flurry of Blows"
             :description
             "Once per turn, you may designate an attack to be a Flurry,
              which decreases its action cost by 1."
             :actions 0
             :tags #{:flourish}}]}}
 {:name "Wholeness of Body"
  :description "Close your wounds through force of will."
  :traits [:martial-mystic]
  :deck [:count 1 :wands]
  :effect {:abilities
           [{:name "Wholeness of Body"
             :description "Restore health equal to your level plus one, up to your maximum."
             :actions 2}]}}]
