[{:name "Prowess"
  :description "Increases Body by 1."
  :card [:or
         [:even :wands]
         [:odd :cups]
         [:court :swords]]
  :effect {:attributes {:body 1}}}
 {:name "Reason"
  :description "Increases Mind by 1."
  :card [:or
         [:odd :swords]
         [:even :cups]
         [:court :wands]]
  :effect {:attributes {:mind 1}}}
 {:name "Grit"
  :description "Increases Spirit by 1."
  :card [:or
         [:even :swords]
         [:odd :wands]
         [:court :cups]]
  :effect {:attributes {:spirit 1}}}
 {:name "Fate"
  :description "Increases Luck by 1."
  :card :pentacles
  :effect {:attributes {:luck 1}}}]
