[{:name "The Squire"
  :description "TODO"
  :requires [:the-page-of-swords]
  :effect {:skills {:resilience true}}}
 {:name "The Soldier"
  :description "TODO"
  :requires [:the-knight-of-swords]
  :effect {:skills {:athletics true}}}
 {:name "The Commander"
  :description "TODO"
  :requires [:the-queen-of-swords]
  :effect {:skills {:intimidation true}}}
 {:name "The Arrow"
  :description "TODO"
  :requires [:the-king-of-swords]
  :effect {:skills {:ranged true}}}
 {:name "The Sword"
  :description "TODO"
  :requires [:the-ace-of-swords]
  :effect {:skills {:melee true}}}
 {:name "The Apprentice"
  :description "TODO"
  :requires [:the-page-of-wands]
  :effect {:skills {:insight true}}}
 {:name "The Smith"
  :description "TODO"
  :requires [:the-knight-of-wands]
  :effect {:skills {:craft true}}}
 {:name "The Apothecary"
  :description "TODO"
  :requires [:the-queen-of-wands]
  :effect {:skills {:medicine true}}}
 {:name "The Diplomat"
  :description "TODO"
  :requires [:the-king-of-wands]
  :effect {:skills {:diplomacy true}}}
 {:name "The Wand"
  :description "TODO"
  :requires [:the-ace-of-wands]
  :effect {:skills {:arcana true}}}
 {:name "The Survivor"
  :description "TODO"
  :requires [:the-page-of-cups]
  :effect {:skills {:resolve true}}}
 {:name "The Scout"
  :description "TODO"
  :requires [:the-knight-of-cups]
  :effect {:skills {:awareness true}}}
 {:name "The Rogue"
  :description "TODO"
  :requires [:the-queen-of-cups]
  :effect {:skills {:deception true}}}
 {:name "The Shadow"
  :description "TODO"
  :requires [:the-king-of-cups]
  :effect {:skills {:stealth true}}}
 {:name "The Chalice"
  :description "TODO"
  :requires [:the-ace-of-cups]
  :effect {:skills {:sorcery true}}}
 {:name "The Coin"
  :description "TODO"
  :requires [:the-ace-of-pentacles]
  :effect {:skills {:theurgy true}}}]
