{:the-nine-of-cups
 {:media-src ""
  :description ""},

 :the-nine-of-swords
 {:media-src ""
  :description ""},

 :the-six-of-pentacles
 {:media-src ""
  :description ""},

 :the-hermit
 {:media-src ""
  :description ""},

 :the-six-of-cups
 {:media-src ""
  :description ""},

 :the-four-of-cups
 {:media-src ""
  :description ""},

 :the-seven-of-swords
 {:media-src ""
  :description ""},

 :the-fool
 {:media-src ""
  :description ""},

 :the-six-of-wands
 {:media-src ""
  :description ""},

 :the-six-of-swords
 {:media-src ""
  :description ""},

 :the-seven-of-wands
 {:media-src ""
  :description ""},

 :the-page-of-swords
 {:media-src ""
  :description ""},

 :the-ten-of-swords
 {:media-src ""
  :description ""},

 :the-queen-of-cups
 {:media-src ""
  :description ""},

 :the-king-of-cups
 {:media-src ""
  :description ""},

 :the-nine-of-pentacles
 {:media-src ""
  :description ""},

 :the-two-of-pentacles
 {:media-src ""
  :description ""},

 :the-four-of-swords
 {:media-src ""
  :description ""},

 :temperance
 {:media-src ""
  :description ""},

 :the-world
 {:media-src ""
  :description ""},

 :the-ten-of-pentacles
 {:media-src ""
  :description ""},

 :the-ten-of-wands
 {:media-src ""
  :description ""},

 :the-sun
 {:media-src ""
  :description ""},

 :the-five-of-pentacles
 {:media-src ""
  :description ""},

 :judgement
 {:media-src ""
  :description ""},

 :justice
 {:media-src ""
  :description ""},

 :the-knight-of-swords
 {:media-src ""
  :description ""},

 :the-devil
 {:media-src ""
  :description ""},

 :the-three-of-wands
 {:media-src ""
  :description ""},

 :the-knight-of-pentacles
 {:media-src ""
  :description ""},

 :the-emperor
 {:media-src ""
  :description ""},

 :the-nine-of-wands
 {:media-src ""
  :description ""},

 :the-four-of-pentacles
 {:media-src ""
  :description ""},

 :the-king-of-pentacles
 {:media-src ""
  :description ""},

 :the-king-of-wands
 {:media-src ""
  :description ""},

 :the-knight-of-cups
 {:media-src ""
  :description ""},

 :the-king-of-swords
 {:media-src ""
  :description ""},

 :the-ace-of-pentacles
 {:media-src ""
  :description ""},

 :the-eight-of-swords
 {:media-src ""
  :description ""},

 :wheel-of-fortune
 {:media-src ""
  :description ""},

 :the-knight-of-wands
 {:media-src ""
  :description ""},

 :the-two-of-wands
 {:media-src ""
  :description ""},

 :the-high-priestess
 {:media-src ""
  :description ""},

 :the-three-of-swords
 {:media-src ""
  :description ""},

 :the-ace-of-cups
 {:media-src ""
  :description ""},

 :the-ten-of-cups
 {:media-src ""
  :description ""},

 :strength
 {:media-src ""
  :description ""},

 :the-page-of-pentacles
 {:media-src ""
  :description ""},

 :the-lovers
 {:media-src ""
  :description ""},

 :the-eight-of-cups
 {:media-src ""
  :description ""},

 :the-two-of-cups
 {:media-src ""
  :description ""},

 :the-tower
 {:media-src ""
  :description ""},

 :the-five-of-swords
 {:media-src ""
  :description ""},

 :the-chariot
 {:media-src ""
  :description ""},

 :the-seven-of-cups
 {:media-src ""
  :description ""},

 :the-five-of-wands
 {:media-src ""
  :description ""},

 :the-hanged-man
 {:media-src ""
  :description ""},

 :the-star
 {:media-src ""
  :description ""},

 :the-magician
 {:media-src ""
  :description ""},

 :the-three-of-pentacles
 {:media-src ""
  :description ""},

 :the-eight-of-pentacles
 {:media-src ""
  :description ""},

 :the-five-of-cups
 {:media-src ""
  :description ""},

 :the-seven-of-pentacles
 {:media-src ""
  :description ""},

 :the-queen-of-pentacles
 {:media-src ""
  :description ""},

 :the-four-of-wands
 {:media-src ""
  :description ""},

 :the-page-of-cups
 {:media-src ""
  :description ""},

 :the-queen-of-swords
 {:media-src ""
  :description ""},

 :the-two-of-swords
 {:media-src ""
  :description ""},

 :the-page-of-wands
 {:media-src ""
  :description ""},

 :death
 {:media-src ""
  :description ""},

 :the-queen-of-wands
 {:media-src ""
  :description ""},

 :the-eight-of-wands
 {:media-src ""
  :description ""},

 :the-three-of-cups
 {:media-src ""
  :description ""},

 :the-hierophant
 {:media-src ""
  :description ""},

 :the-ace-of-wands
 {:media-src ""
  :description ""},

 :the-empress
 {:media-src ""
  :description ""},

 :the-moon
 {:media-src ""
  :description ""},

 :the-ace-of-swords
 {:media-src ""
  :description ""}}
